.fp{
    padding-top: 4rem;
    background-color:white;
    border-radius: 5px;
    box-shadow:-1px 1px 5px 9px rgb(241, 236, 236);
    width: 20rem;
    text-align: center;
    margin-right: 3rem;
    padding-right: 7rem; 
    padding-left: 6rem;
    padding-bottom: 5rem;
    margin-left: 35rem;
    margin-bottom: 5rem;
    

}
.fpa{
    text-align: left;
}
.fpb{
    text-align: left;
    color: rgb(50, 187, 50);
    font-weight: 100;

}
