/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
  } */
   .jumbotron {
      filter: brightness(60%);
      height: 100vh;
      width: 100%; 
  }
  .header{
      position: relative;
  }
  .headerone{
      position: absolute;
      bottom:0;
      color: white;
      padding-bottom: 10rem;
      padding-left: 10rem;
      font-size:4rem;
      font-weight: lighter;

      
  }
  .button{
      border: none;
      color: white;
      padding: 18px 40px;
      text-align: center;
      background-color: rgb(150, 228, 24);
      border-radius: 25px;
      font-size: 1rem;
      

  }
  
