.sectiononea{
    color: green;
    text-align: center;
}
.card{
    display: flex;
    padding: 2rem 5rem;
    padding-left: 14rem;
    padding-bottom: 5rem;
}
.card1{
    padding: 15px 25px;
    background-color:white;
    border-radius: 5px;
    box-shadow:-1px 1px 5px 9px rgb(241, 236, 236);
    width: 10rem;
    text-align: center;
    margin-right: 3rem;
    
} 
.numbers{
    color: green;
}